.buyer-messages {
  padding: 2rem;
}

.messages-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.message-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.response-textarea {
  width: 100%;
  margin-top: 1rem;
}
.header {
  display: flex;
  align-items: center; 
}
.answered {
  opacity: 0.7; 
}

.delete-button {
  float: right;
}



