.subscription-form {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.plan-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    }

    .plan-card {
    border: 2px solid #007bff;
    padding: 30px; /* Aumentar padding para tamaño */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
    background-color: #f9f9f9;
    width: 270px; /* Ajusta el ancho de la tarjeta */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Sombra más pronunciada */
    }

    .plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4); /* Efecto de hover */
    }

    .plan-card h3 {
    margin: 0;
    color: #007bff;
    font-size: 1.5em; /* Aumentar tamaño del título */
    }

    .price {
    font-size: 1.4em;
    margin: 10px 0;
    color: #333;
    }

    .plan-card li {
    margin: 5px 0;
    color: #555;
    display: flex;
    align-items: center;
    }

    .plan-card li::before {
    content: '✔'; /* Icono de verificación */
    color: #28a745;
    margin-right: 10px;
    }

    .select-button {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    }

    .select-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Efecto de elevación */
    }

    .selected-plan {
    margin-top: 20px;
    }

    .selected-plan h3 {
    color: #28a745;
    }

    .selected-plan button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }

    .selected-plan button:hover {
    background-color: #0056b3;
    }
    .plan-card.selected {
        background-color: #e0f7fa; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border-color: #184b91; 
    }
    