.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #176B87;
    border-radius: 0.75rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #474747;
    border-radius: 0.75rem;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background-color: #176B87;
    border-radius: 0.75rem;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
    background-color: #474747;
    border-radius: 0.75rem;
}

.banner-wrapper {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}