.banner-container {
    position: relative;
    width: 100%;
    height: 240px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}


.banner-image-wrapper {
    display: flex;
    position: relative;
    height: 100%;
}

.banner-image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-image.active {
    opacity: 1;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.banner-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.banner-subtitle {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.banner-button {
    font-size: 1.2em;
    padding: 0.5em 1.5em;
}